In [1]:
import pandas as pd

In [2]:
#prev_app = pd.read_csv('previous_application.csv')
#posh_cash = pd.read_csv('POS_CASH_balance.csv')

In [25]:
#prev_app[prev_app['SK_ID_PREV'] == 1000003]

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
1517084,1000003,252457,Consumer loans,4951.35,47056.275,52641.0,4.275,47056.275,SUNDAY,13,...,Consumer electronics,12.0,low_action,POS household without interest,365243.0,-94.0,236.0,365243.0,365243.0,1.0

In [21]:
posh_cash[posh_cash['SK_ID_PREV'] == 1000003]

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
6496374,1000003,252457,-3,12.0,11.0,Active,0,0
6584537,1000003,252457,-4,12.0,12.0,Active,0,0
7085917,1000003,252457,-1,12.0,9.0,Active,0,0
9852178,1000003,252457,-2,12.0,10.0,Active,0,0

In [ ]:
#pd.merge(prev_app, posh_cash,  how='out', left_on=['A_c1','c2'], right_on = ['B_c1','c2'])

In [29]:
print(posh_cash.shape)
print(prev_app.shape)

(10001358, 8)
(1670214, 37)

In [ ]:
len(prev_app.SK_ID_CURR)

Shape:

Previous_Application_csv = 1.67m * 37 - 1.67(sk_prev_id)

posh_cash_balance.csv = 10.0m * 8 - 10.0m(sk_prev_id)